<template>
  <div>
    <!-- <ejs-filemanager id="file-manager" :ajaxSettings="ajaxSettings"> </ejs-filemanager> -->
    <div>
      Folder
      <div v-for="(folder, folderIndex) in folders" :key="folderIndex">
        <div v-if="folder.isFile">
          <div style="border: solid 1px black; max-width: 200px; padding: 15px 15px 15px 15px" @click="getFileDetail(folder.id)">
            File Name: {{ folder.originalFileName }}
          </div>
        </div>
        <div v-else>
          <div style="border: solid 1px black; max-width: 200px; padding: 15px 15px 15px 15px" @click="loadFolder(folder)">
            Folder Name: {{ folder.originalFileName }}
          </div>
        </div>
      </div>
    </div>

    <div>
      List
      <div v-for="(folder, folderIndex) in detailFolders" :key="folderIndex">
        <div v-if="folder.isFile">
          <div style="border: solid 1px black; max-width: 200px; padding: 15px 15px 15px 15px" @click="getFileDetail(folder.id)">
            File Name: {{ folder.originalFileName }}
          </div>
        </div>
        <div v-else>
          <div style="border: solid 1px black; max-width: 200px; padding: 15px 15px 15px 15px" @click="loadFolder(folder)">
            Folder Name: {{ folder.originalFileName }}
          </div>
        </div>
      </div>
    </div>
    <button @click="loadData()">Load</button>
    <ejs-documenteditorcontainer
      ref="container"
      :serviceUrl="serviceUrl"
      :enableToolbar="true"
      :enableSfdtExport="true"
      :enableSelection="true"
      :enableEditor="true"
      :created="onCreate()"
    >
    </ejs-documenteditorcontainer>
    <input type="text" v-model="fileName" placeholder="Filename" />
    <vue-recaptcha :sitekey="siteKey" @verify="onCaptchaVerified" @expired="onCaptchaExpired"></vue-recaptcha>
    <button @click="save">Save</button>
  </div>
</template>

<script>
import Vue from "vue";
import {
  DocumentEditorContainerPlugin,
  DocumentEditorContainerComponent,
  Toolbar,
  Editor,
  SfdtExport,
  DocumentEditorContainer,
} from "@syncfusion/ej2-vue-documenteditor";

import VueRecaptcha from "vue-recaptcha";

import { FileManagerPlugin } from "@syncfusion/ej2-vue-filemanager";
import Axios from "axios";

// Vue.use(VueReCaptcha({
//   ins
// }), { siteKey: "6LdYSvcaAAAAAL-WKJGwoNr65im1JpArIJZtVnb5" });

Vue.use(FileManagerPlugin);

Vue.use(DocumentEditorContainerPlugin);
export default {
  components: { VueRecaptcha },
  data() {
    return {
      serviceUrl: "https://ej2services.syncfusion.com/production/web-services/api/documenteditor/",
      axios: null,
      folders: [],
      detailFolders: [],
      currentFolder: null,
      fileName: "",
      siteKey: "6LeMgfcaAAAAAFlCLF8Hkm6U3Ec7T6IhYVyMZ4Ca",
    };
  },
  provide: {
    DocumentEditorContainer: [Toolbar, SfdtExport, Editor],
    DocumentEditor: [SfdtExport, Editor, Toolbar],
  },
  methods: {
    onCaptchaVerified(token) {
      console.log({ token });
    },
    onCreate: function() {},
    async save() {
      const sfdt = this.$refs.container.ej2Instances.documentEditor.serialize();
      let parsedPath;
      if (this.currentFolder) {
        const { originalFileName, path } = this.currentFolder;
        if (path.substr(parsedPath.length - 1, 1) == "/") {
          parsedPath += originalFileName;
        } else {
          parsedPath += `/${originalFileName}`;
        }
      } else {
        parsedPath = "/";
      }

      console.log({ token });
      this.axios.post("/api/file-manager", {
        type: "KEBIJAKAN",
        isFile: true,
        originalFileName: this.fileName,
        path: parsedPath,
        blob: sfdt,
        fileType: "docx",
      });
    },
    loadData: async function() {
      try {
        const { data } = await this.axios.post("/api/file-manager/details", {
          type: "KEBIJAKAN",
          path: "/",
        });
        this.folders = data.data;
      } catch (_e) {
        console.log(_e);
      }
    },
    async loadFolder(folder) {
      this.currentFolder = folder;
      const { originalFileName, path } = folder;
      let parsedPath = path;
      if (parsedPath.substr(parsedPath.length - 1, 1) == "/") {
        parsedPath += originalFileName;
      } else {
        parsedPath += `/${originalFileName}`;
      }
      try {
        const { data } = await this.axios.post("/api/file-manager/details", {
          type: "KEBIJAKAN",
          path: parsedPath,
        });
        this.detailFolders = data.data;
      } catch (_e) {
        console.log(_e);
      }
    },
    async getFileDetail(id) {
      try {
        const { data } = await this.axios.get(`/api/file-manager/${id}`);
        console.log(data.blob);
        this.$refs.container.ej2Instances.documentEditor.open(data.blob);
      } catch (_e) {
        console.log(_e);
      }
    },
  },
  async mounted() {
    let externalScript = document.createElement("script");
    externalScript.setAttribute("src", "https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit");
    document.head.appendChild(externalScript);
    // load your default document here
    let sfdt =
      '{"sections":[{"sectionFormat":{"pageWidth":612,"pageHeight":792,"leftMargin":72,"rightMargin":72,"topMargin":72,"bottomMargin":72,"differentFirstPage":false,"differentOddAndEvenPages":false,"headerDistance":36,"footerDistance":36,"bidi":false},"blocks":[{"paragraphFormat":{"styleName":"Normal","listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[{"characterFormat":{"fontSize":null,"bidi":false},"text":"halloo iuugh fihjf kfq"}]},{"paragraphFormat":{"styleName":"Normal","listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[{"characterFormat":{"fontSize":null,"bidi":false},"text":"qege"}]},{"paragraphFormat":{"styleName":"Normal","listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[{"characterFormat":{"fontSize":null,"bidi":false},"text":"g2e"}]},{"paragraphFormat":{"styleName":"Normal","listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[{"characterFormat":{"fontSize":null,"bidi":false},"text":"y2y"}]},{"paragraphFormat":{"styleName":"Normal","listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[{"characterFormat":{"fontSize":null,"bidi":false},"text":"2y"}]},{"paragraphFormat":{"styleName":"Normal","listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[{"characterFormat":{"fontSize":null,"bidi":false},"text":"2"}]},{"paragraphFormat":{"styleName":"Normal","listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[{"characterFormat":{"fontSize":null,"bidi":false},"text":"y2"}]},{"paragraphFormat":{"styleName":"Normal","listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[{"characterFormat":{"fontSize":null,"bidi":false},"text":"y2"}]},{"paragraphFormat":{"styleName":"Normal","listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[{"characterFormat":{"fontSize":null,"bidi":false},"text":"u"}]},{"paragraphFormat":{"styleName":"Normal","listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[{"characterFormat":{"fontSize":null,"bidi":false},"text":"2"}]},{"paragraphFormat":{"styleName":"Normal","listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[{"characterFormat":{"fontSize":null,"bidi":false},"text":"rrwrwrwry"}]}],"headersFooters":{"header":{"blocks":[{"paragraphFormat":{"listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[]}]},"footer":{"blocks":[{"paragraphFormat":{"listFormat":{}},"characterFormat":{"fontSize":null},"inlines":[]}]},"evenHeader":{},"evenFooter":{},"firstPageHeader":{},"firstPageFooter":{}}}],"characterFormat":{"bold":false,"italic":false,"fontSize":11,"fontFamily":"Calibri","underline":"None","strikethrough":"None","baselineAlignment":"Normal","highlightColor":"NoColor","fontColor":"empty","boldBidi":false,"italicBidi":false,"fontSizeBidi":11,"fontFamilyBidi":"Calibri","allCaps":false},"paragraphFormat":{"leftIndent":0,"rightIndent":0,"firstLineIndent":0,"textAlignment":"Left","beforeSpacing":0,"afterSpacing":0,"lineSpacing":1,"lineSpacingType":"Multiple","listFormat":{},"bidi":false},"defaultTabWidth":36,"trackChanges":false,"enforcement":false,"hashValue":"","saltValue":"","formatting":false,"protectionType":"NoProtection","dontUseHTMLParagraphAutoSpacing":false,"formFieldShading":true,"styles":[{"name":"Normal","type":"Paragraph","paragraphFormat":{"listFormat":{}},"characterFormat":{"fontSize":null},"next":"Normal"},{"name":"Heading 1","type":"Paragraph","paragraphFormat":{"leftIndent":0,"rightIndent":0,"firstLineIndent":0,"textAlignment":"Left","beforeSpacing":12,"afterSpacing":0,"lineSpacing":1.0791666507720947,"lineSpacingType":"Multiple","outlineLevel":"Level1","listFormat":{}},"characterFormat":{"fontSize":16,"fontFamily":"Calibri Light","fontColor":"#2F5496","fontSizeBidi":16,"fontFamilyBidi":"Calibri Light"},"basedOn":"Normal","link":"Heading 1 Char","next":"Normal"},{"name":"Heading 1 Char","type":"Character","characterFormat":{"fontSize":16,"fontFamily":"Calibri Light","fontColor":"#2F5496","fontSizeBidi":16,"fontFamilyBidi":"Calibri Light"},"basedOn":"Default Paragraph Font"},{"name":"Default Paragraph Font","type":"Character","characterFormat":{"fontSize":null}},{"name":"Heading 2","type":"Paragraph","paragraphFormat":{"leftIndent":0,"rightIndent":0,"firstLineIndent":0,"textAlignment":"Left","beforeSpacing":2,"afterSpacing":0,"lineSpacing":1.0791666507720947,"lineSpacingType":"Multiple","outlineLevel":"Level2","listFormat":{}},"characterFormat":{"fontSize":13,"fontFamily":"Calibri Light","fontColor":"#2F5496","fontSizeBidi":13,"fontFamilyBidi":"Calibri Light"},"basedOn":"Normal","link":"Heading 2 Char","next":"Normal"},{"name":"Heading 2 Char","type":"Character","characterFormat":{"fontSize":13,"fontFamily":"Calibri Light","fontColor":"#2F5496","fontSizeBidi":13,"fontFamilyBidi":"Calibri Light"},"basedOn":"Default Paragraph Font"},{"name":"Heading 3","type":"Paragraph","paragraphFormat":{"leftIndent":0,"rightIndent":0,"firstLineIndent":0,"textAlignment":"Left","beforeSpacing":2,"afterSpacing":0,"lineSpacing":1.0791666507720947,"lineSpacingType":"Multiple","outlineLevel":"Level3","listFormat":{}},"characterFormat":{"fontSize":12,"fontFamily":"Calibri Light","fontColor":"#1F3763","fontSizeBidi":12,"fontFamilyBidi":"Calibri Light"},"basedOn":"Normal","link":"Heading 3 Char","next":"Normal"},{"name":"Heading 3 Char","type":"Character","characterFormat":{"fontSize":12,"fontFamily":"Calibri Light","fontColor":"#1F3763","fontSizeBidi":12,"fontFamilyBidi":"Calibri Light"},"basedOn":"Default Paragraph Font"},{"name":"Heading 4","type":"Paragraph","paragraphFormat":{"leftIndent":0,"rightIndent":0,"firstLineIndent":0,"textAlignment":"Left","beforeSpacing":2,"afterSpacing":0,"lineSpacing":1.0791666507720947,"lineSpacingType":"Multiple","outlineLevel":"Level4","listFormat":{}},"characterFormat":{"italic":true,"fontSize":null,"fontFamily":"Calibri Light","fontColor":"#2F5496","italicBidi":true,"fontFamilyBidi":"Calibri Light"},"basedOn":"Normal","link":"Heading 4 Char","next":"Normal"},{"name":"Heading 4 Char","type":"Character","characterFormat":{"italic":true,"fontSize":null,"fontFamily":"Calibri Light","fontColor":"#2F5496","italicBidi":true,"fontFamilyBidi":"Calibri Light"},"basedOn":"Default Paragraph Font"},{"name":"Heading 5","type":"Paragraph","paragraphFormat":{"leftIndent":0,"rightIndent":0,"firstLineIndent":0,"textAlignment":"Left","beforeSpacing":2,"afterSpacing":0,"lineSpacing":1.0791666507720947,"lineSpacingType":"Multiple","outlineLevel":"Level5","listFormat":{}},"characterFormat":{"fontSize":null,"fontFamily":"Calibri Light","fontColor":"#2F5496","fontFamilyBidi":"Calibri Light"},"basedOn":"Normal","link":"Heading 5 Char","next":"Normal"},{"name":"Heading 5 Char","type":"Character","characterFormat":{"fontSize":null,"fontFamily":"Calibri Light","fontColor":"#2F5496","fontFamilyBidi":"Calibri Light"},"basedOn":"Default Paragraph Font"},{"name":"Heading 6","type":"Paragraph","paragraphFormat":{"leftIndent":0,"rightIndent":0,"firstLineIndent":0,"textAlignment":"Left","beforeSpacing":2,"afterSpacing":0,"lineSpacing":1.0791666507720947,"lineSpacingType":"Multiple","outlineLevel":"Level6","listFormat":{}},"characterFormat":{"fontSize":null,"fontFamily":"Calibri Light","fontColor":"#1F3763","fontFamilyBidi":"Calibri Light"},"basedOn":"Normal","link":"Heading 6 Char","next":"Normal"},{"name":"Heading 6 Char","type":"Character","characterFormat":{"fontSize":null,"fontFamily":"Calibri Light","fontColor":"#1F3763","fontFamilyBidi":"Calibri Light"},"basedOn":"Default Paragraph Font"}],"lists":[],"abstractLists":[],"comments":[],"revisions":[],"customXml":[]}';
    // open the default document.
    const token =
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGFpbXMiOnsidXNlciI6MX0sImlhdCI6MTYyMjA4MTQ2NiwiZXhwIjoxNjIyNjg2MjY2fQ.Gehhtu0mvi2_KrOr5FbqGXs3ddzik63ZwhNt8MkkrK4";
    this.$refs.container.ej2Instances.documentEditor.open(sfdt);
    this.axios = Axios.create({
      headers: {
        Authorization: `Bearer ${token}`,
      },
      baseURL: "http://localhost:4600/ims",
    });
    await this.loadData();
  },
};
</script>

<style lang="scss">
// #app {
//   font-family: "Avenir", Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   color: #2c3e50;
//   margin-top: 60px;
// }

// h1,
// h2 {
//   font-weight: normal;
// }

// ul {
//   list-style-type: none;
//   padding: 0;
// }

// li {
//   display: inline-block;
//   margin: 0 10px;
// }

// a {
//   color: #42b983;
// }
</style>

<style>
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-vue-documenteditor/styles/material.css";
@import "../node_modules/@syncfusion/ej2-icons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-layouts/styles/material.css";
@import "../node_modules/@syncfusion/ej2-grids/styles/material.css";
@import "../node_modules/@syncfusion/ej2-vue-filemanager/styles/material.css";
</style>
